In [1]:
import numpy as np
import csv
import pandas as pd
import matplotlib as mb

data = pd.read_csv('owid-covid-data.csv')
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [2]:
data_France_March = data[(data['location'] == 'France') & (data['date'].str.contains("03"))]
data_France_March.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
79201,FRA,Europe,France,2022-09-03,34626425.0,0.0,16790.143,154258.0,0.0,47.429,...,35.6,NaN,5.98,82.66,0.901,67813000.0,NaN,NaN,NaN,NaN
79231,FRA,Europe,France,2022-10-03,35546188.0,92739.0,45639.143,155267.0,86.0,34.000,...,35.6,NaN,5.98,82.66,0.901,67813000.0,NaN,NaN,NaN,NaN
79262,FRA,Europe,France,2022-11-03,36952950.0,42025.0,20853.000,157268.0,55.0,61.143,...,35.6,NaN,5.98,82.66,0.901,67813000.0,NaN,NaN,NaN,NaN
79292,FRA,Europe,France,2022-12-03,38014872.0,0.0,54829.000,159162.0,0.0,64.857,...,35.6,NaN,5.98,82.66,0.901,67813000.0,NaN,NaN,NaN,NaN
79323,FRA,Europe,France,2023-01-03,39396172.0,23012.0,19489.143,162446.0,163.0,114.571,...,35.6,NaN,5.98,82.66,0.901,67813000.0,NaN,NaN,NaN,NaN

In [6]:
print(data_France_March['median_age'].unique())
print(data_France_March['aged_65_older'].unique())
print(data_France_March['aged_70_older'].unique())

[42.]
[19.718]
[13.079]

# Answers for Q1